<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INsi" />
                <binding name="BasicHttpBinding_IRegOrgPortsType" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3474/hcs-nsi/hcs-nsi.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INsi"
                contract="nsi.INsi" name="BasicHttpBinding_INsi" />
            <endpoint address="http://localhost:3474/hcs-organization-registry/hcs-organization-registry.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRegOrgPortsType"
                contract="OrgRegistry.IRegOrgPortsType" name="BasicHttpBinding_IRegOrgPortsType" />
        </client>
    </system.serviceModel>
</configuration>